# Add timeline with the changes at the top of the page

# Define prompf

> **prompf** (verb): to prompt the life you want. <br>

> **PROMPF** is **PROMPT** brought to **LIFE**: replace the **T** in *prompt* with the **F** from *life*.

# Add table of contents named prompts