---
title: ✦ Prompf
subtitle: ƒ› Prompt the Life You Want
---

# Info prompf

## Definition

**prompf** (verb): to prompt the life you want

## Pronunciation

<I p="./prompf/pronunciation/Pronunciation.svelte" />

## Etymology

PROMPT − T + F (from LIFE) = **PROMPF**
