---
title: ✦ Prompf
subtitle: ƒ› Prompt the Life You Want
---

# Info prompf

## Define

**prompf** (verb): to prompt the life you want

## Pronounce

<I p="./prompf/Pronunciation.svelte" />

## Etymology

PROMPT − T + F (from LIFE) = **PROMPF**
