---
title: ✦ Prompf
subtitle: ƒ› Prompt the Life You Want
---

# Info prompf

## Define

**prompf** (verb): to prompt the life you want

## Pronounce

/prɒm(p)f/

## Etymology

PROMPT − T + F (from LIFE) = **PROMPF**
